.container {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.body input {
    padding: 8px;
    margin-right: 8px;
    font-family: cursive;
    border-color: black;
}

.body button {
    padding: 8px 16px;
    font-family: cursive;
    border-color: black;
}

.footer {
    margin-top: 25px;
}